
body {
  font-family: 'Montserrat', sans-serif;
}

.text-shadow {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
  line-height: 2;
}

.btn-small {
  margin: 5px;
}

.collapsible-header .col strong {
  margin: 5px;
  line-height: 42px;
}

.brand-logo {
  margin-left: 10px;
}

/* Materialize footer */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.container i {
  margin-left: 10px;
}

.page-footer {
  padding-top: 0px;
  background-color: #555555;
  position: fixed;
  bottom: 0;
  width: 100%;
}


.page-footer i:hover {
  color: #039BE5;
}

/* prevent buttons from appearing above the footer */
footer {
  z-index: 1;
}

#dummy_footer {
  height: 50px;
}


/* Keep buttons the same width especially when they wrap */
/* btn1 has an icon until a media max width is reached where the icon is not displayed */
.btn1 {
  width: 140px;
  margin: 5px;
}

.btn-large {
  width: 220px;
}

.btn2, .btn3 {
  width: 80px;
}

.from-image-to-dropdown {
  float: left;
}

.from-image-to-dropdown .recipe-image,
.from-image-to-dropdown .pull-down,
.from-image-to-dropdown .edit-and-delete {
  float: left;
}

/* Target the container here */
.collapsible-header {
  display: flex;
  flex-direction: row;
}

.collapsible-header .name-and-cuisine strong {
  margin: 0px 0px;
}

.name-and-cuisine p {
  margin: 5px 0px;
}


.switch div {
  display: inline;
}




@media screen and (max-width: 1000px){


  .brand-logo {
    margin-left: 3px;
  }

  /* Credit https://stackoverflow.com/ */
  .icon-hide {
    display: none;
  }

 
  .btn1 {
    width: 100px;
  }

  .btn-large {
    width: 180px;
  }


  .edit-and-delete .btn2 {
    float: left;
  }

  .edit-and-delete .btn3 {
    float: left;
    clear: left;
  }


}



@media screen and (max-width: 600px){


  .card-panel {
    /* Set to 24px by materialize */
    padding: 10px;
  }

/* .search-window id added */
  /* Credit: Tutor support [type="text"] added */
  #search-window input[type="text"],
  #search-window label {
    margin: 0;
    padding: 0;
  }


  #search-window button,
  #search-window a {
    padding: 0px 0px;
  }


  .btn1 {
    font-size: 12px;
  }

  .btn-large {
    font-size: 12px;
  }

  .btn-large {
    width: 180px;
  }


  .collapsible-header {
    flex-direction: column;
  }


  .switch div {
    display: block;
  }

}



@media screen and (max-width: 450px){

  .nav-wrapper .brand-logo {
    font-size: 20px;
  }

  .input-field label {
    font-size: 10px;
   }

  .recipe-text{
  margin: 10px 0px;
  }

  .btn-large {
    width: 160px;
  }

  .btn1 {
    width: 60px;
  }

  /* Flash header */
  h4 { 
    font-size: 30px;
    margin: 10px 0px;
  }

  h3 {
    font-size: 30px;
  }

  .pull-down i {
    margin: 0px 2px;
  }

}