{% extends "base.html" %}
{% block content %}

    <h3 class="light-blue-text text-darken-4 center-align">{{ username }}'s Recipes</h3>


    <div class="row card-panel grey lighten-5">
        <form action="{{ url_for('search_user', username=session['user']) }}" method="post" class="col s12">
            <div class="row valign-wrapper center-align">
                <div class="input-field col s12 m8">
                    <i class="fas fa-search prefix light-blue-text text-darken-4"></i>
                    <input type="text" name="query" id="query" minlength="3" class="validate" required>
                    <label for="query">Search {{ username }}'s Recipes</label>
                </div>
                <div class="col s12 m4">
                    <a href="{{ url_for('my_recipes', username=session['user']) }}" class="red btn text-shadow">Reset</a>
                    <button type="submit" class="light-blue darken-1 btn text-shadow">
                        <i class="fas fa-search left"></i> Search
                    </button>
                </div>
            </div>
        </form>
    </div>

    {% if recipes|length > 0 %}
        <ul class="collapsible">
            {% for recipe in recipes %}
            {% if session.user|lower == recipe.created_by|lower %}
                    <li>
                        <div class="collapsible-header white-text light-blue darken-4 text-shadow">
                            <div class="col s3">
                                <i class="fas fa-caret-down"></i>
                                <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}"
                                    class="btn-small light-blue lighten-1">Edit</a>
                                <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}"
                                    class="btn-small red text-shadow">Delete</a>
                            </div>

                            <div class="col s9">
                                <!-- Add recipe picture here-->
                                <strong>{{ recipe.recipe_name }}</strong>
                                <p>{{ recipe.cuisine_style }} Cuisine</p>
                            </div>

                        </div>

                        <div class="collapsible-body">
                            <strong>{{ recipe.ingredients }}</strong>
                            <p>{{ recipe.preperation_steps }}</p>
                            <p>{{ recipe.tools_required }}</p>
                            <p><em>by: {{ recipe.created_by }}</em></p>
                        </div>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% else %}
        <h3 class="red-text text-darken-4 center-align">No Results Found</h3>    
    {% endif %}

{% endblock %}